@import './_variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@mixin boxes($color) {
    border-radius: 8px;
    background-color: $color;
    box-shadow: 0 7px 0 rgba(#000, 0.15);
    margin-bottom: 20px;
}

* {
    text-align: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 400;
}

body {
    margin: 0;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $red;
    background: $red url(/images/bg-intro-mobile.png);
    min-height: 100vh;
    padding: 20px;
}

header {
    margin: 40px 0;
}

h1 {
    font-weight: 700;
    font-size: 1.7rem;
    padding: 0 20px;
    line-height: 1.4em;
}

p {
    font-size: 0.9rem;
    padding: 0;
    line-height: 1.6em;
}

.bold {
    font-weight: 700;
}

.form-section {
    @include boxes(white);
    padding: 20px;
}

.blue-box {
    @include boxes($blue);
    padding: 0 60px;
}

.submit-btn {
    border: none;
    background-color: $green;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 4px 0 darken($green, 7);
    width: 100%;
}

input {
    border: 1px solid lighten($grayish-blue, 10);
    color: $dark-blue;
    text-align: left;
    width: 100%;
    font-weight: 500;
    padding: 0;
    margin-bottom: 15px;
}

input,
.submit-btn {
    border-radius: 4px;
    padding: 10px;
}

.disclaimer {
    color: $grayish-blue;
    font-size: 11px;
    padding: 0 20px;
    & .bold,
    & a,
    & a:hover {
        color: $red;
    }
}

footer {
    p {
        font-size: 11px;
    }
     a,
     a:hover {
        color: $dark-blue;
    }
}

