//mobile
@media only screen and (max-width: 768px) {
    body {
        background: $red url("../../public/images/bg-intro-desktop.png");
    }
    .container {
        flex-direction: column;
        justify-content: center;
        }
    header {
        text-align: center;
        margin: 40px 20px 0 20px;
        h1 {
            padding: 0 20px;
            font-size: 1.7rem;
        }
    }
    .column {
        margin: 20px;
    }
}

// tablet and desktop
@media only screen and (min-width: 768px) { 
    body {
        background: $red url("../../public/images/bg-intro-desktop.png");
    }
    .container {
        flex-direction: row;
        justify-content: space-around;
        max-width: 85%;
    }
    header {
        text-align: left;
        h1 {
            font-size: 40px;
        }
    }
    header,
    .column {
        width: 40%;
    }
}